<div class="snapshot-3 row">
    <div class="col-lg-12">
        <div class="col-lg-2">
            <img class="footer-image" src="images/yeoman.png"/>

        </div>
        <div class="col-lg-2">
            <img class="footer-image" src="images/gulp.png"/>

        </div>
        <div class="col-lg-2">
            <img class="footer-image" src="images/responsive.png"/>

        </div>
        <div class="col-lg-2">
            <img class="footer-image" src="images/git.png"/>

        </div>
        <div class="col-lg-2">
            <img class="footer-image" src="images/npm.png"/>

        </div>
        <div class="col-lg-2">
            <img class="footer-image" src="images/nodejs.png"/>

        </div>
    </div>

</div>