<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Goodson Consulting</title>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="app.css">
    <link rel="stylesheet" type="text/css" href="styles/switchpanel.css">
    <link rel="stylesheet" type="text/css" href="bower/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="bower/bootstrap/dist/css/bootstrap.css">
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display+SC:400italic&subset=latin,latin-ext'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display+SC&subset=latin,latin-ext' rel='stylesheet'
          type='text/css'>
</head>
<body ng-app="app">
    <div class="container-fluid" ng-controller="mainctrl">
        <div class="row switch-panel collapse" id="switch-panel">
            <img src="images/solidgold.png" style="width: 140%; height: 100px; position: absolute; margin: 0px 0 0 -159px;" />
            <div class="col-lg-5"></div>
            <div class="col-lg-2">
                <div class="switch-container col-lg-3" ng-click="flipSwitch('lamps')">
                    <div>
                        <span ng-model="switches.lamps" class="switch" ng-class="switches.lamps ? 'switch-on' : ''"></span>
                        <h4>
                            <b style="color: black; margin: 0px 0 0 -18px;">Lamps</b>
                        </h4>
                    </div>
                </div>
                <div class="switch-container col-lg-3" ng-click="flipSwitch('doors')">
                    <div>
                        <span ng-model="switches.doors" class="switch" ng-class="switches.doors ? 'switch-on' : ''"></span>
                        <h4>
                            <b style="color: black; margin: 0px 0 0 -12px;">Doors</b>
                        </h4>
                    </div>
                </div>
                <div class="switch-container col-lg-3" ng-click="flipSwitch('music')">
                    <div>
                        <span ng-model="switches.music" class="switch" ng-class="switches.music ? 'switch-on' : ''"></span>
                        <h4>
                            <b style="color: black; margin: 0px 0 0 -12px;">Music</b>
                        </h4>
                    </div>
                </div>

            </div>
            <div class="col-lg-5"></div>


        </div>
        <div class="row switch-panel-control hidden-md hidden-sm hidden-xs">
            <button class="btn custom-button" type="submit" data-toggle="collapse" data-target="#switch-panel"
                    aria-expanded="false" aria-controls="collapseExample" style="width:150px; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#959595+0,0d0d0d+46,010101+50,0a0a0a+53,4e4e4e+76,383838+87,1b1b1b+100;Black+Gloss+Pipe */
                        background: rgb(149,149,149); /* Old browsers */
                        background: -moz-linear-gradient(top,  rgba(149,149,149,1) 0%, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 76%, rgba(56,56,56,1) 87%, rgba(27,27,27,1) 100%); /* FF3.6-15 */
                        background: -webkit-linear-gradient(top,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(to bottom,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */
                     color:white; ">
                <span>Switch Panel</span>&nbsp;

            </button>
        </div>
        <div class="page-main row">
            <div class="col-lg-4 col-md-4 col-sm-2 col-xs-2"></div>
            <div class="page-main-logo col-lg-4 col-md-4 col-sm-8 col-xs-8">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="images/goodsongoldlogo3.png" style="width:850px; height:300px; margin-left:-235px; position:relative;" />
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-2 col-xs-2"></div>
        </div>
        <div class="row nav-row">
            <div ng-include="'partials/navbar/navpartial.html'"></div>
        </div>
        <div class="row view-portal-row">
            <div class="col-lg-12 no-padding">
                <div class="col-lg-2 no-padding hidden-md hidden-sm hidden-xs"
                     ng-include="'partials/column1/column1.html'"></div>
                <div class="col-lg-1 no-padding hidden-md hidden-sm hidden-xs"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 no-padding "
                     ng-include="'partials/viewportal/viewportal.html'"></div>
                <div class="col-lg-1 no-padding hidden-md hidden-sm hidden-xs"></div>

                <div class="col-lg-2 no-padding hidden-md hidden-sm hidden-xs"
                     ng-include="'partials/column2/column2.html'"></div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" ng-include="'partials/footer/footer.html'"></div>
        </div>

    </div>
    <script src="bower/angular/angular.js" type="text/javascript"></script>
    <script src="app.js" type="text/javascript"></script>
    <script src="bower/jquery/dist/jquery.js" type="text/javascript"></script>
    <script src="bower/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>

</body>
</html>
