<div class="snapshot">
    <div class="fixture1">
        <div class="bulb-2" ng-class="switches.lamps ? 'lamps-on' : ''">

        </div>
        <div class="light-1">
           
            <div class="bulb" ng-class="switches.lamps ? 'lamps-on' : ''">

            </div>

        </div>
    </div>
    <div class="personal-information">
        <br />
        <br />
        <ul>
            <li>Brandon E. Goodson</li>
            
        </ul>
        <br />
        <p class="p-1">
             This website is to showcase my proficiency with the technologies desired in the Web Design and Developement industry today. I feel that showing what you can do has a far greater impact than saying what you can do.
        </p>
    </div>
</div>