<div class="snapshot">
    <div class="fixture1">
        <div class="bulb-2" ng-class="switches.lamps ? 'lamps-on' : ''">

        </div>
        <div class="light-1">
           
            <div class="bulb" ng-class="switches.lamps ? 'lamps-on' : ''">

            </div>

        </div>
    </div>
    <div class="personal-information" ng-class="switches.lamps? 'cast-shadow' : ''">

        <div class="personal-information-title">Brandon E. Goodson</div>

        <div class="personal-information-body">
             This website is to showcase my proficiency with the technologies desired in the Web Design and Developement industry today. I feel that showing what you can do has a far greater impact than saying what you can do.
        </div>
    </div>
</div>