
<div class="cover slide_in">
    <div class="left_gate" ng-class="switches.doors ? 'slide_in_left' : ''">
        <img src="images/left-half.png" class="left-img-g" />
    </div>
    <div class="right_gate" ng-class="switches.doors ? 'slide_in_right' : ''">
        <img src="images/right-half.png" class="right-img-g" />

    </div>

    <div class="i-frame-container">
        <div ng-include="'partials/linkpages/techpartial.html'"></div>
        <div ng-include="'partials/linkpages/educationpartial.html'"></div>
        <div ng-include="'partials/linkpages/workhistorypartial.html'"></div>
        <div ng-include="'partials/linkpages/certifications.html'"></div>
        <div ng-include="'partials/linkpages/contact.html'"></div>
    </div>
</div>
<!--
<div class="view-portal">
    <div class="view-wall">
        <div class="wall-line-1">

        </div>
        <div class="wall-line-2">

        </div>
        <div class="wall-line-3">

        </div>
        <div class="wall-line-4">

        </div>
    </div>

    <div class="i-frame-container">
        <div ng-include="'partials/linkpages/techpartial.html'"></div>
        <div ng-include="'partials/linkpages/educationpartial.html'"></div>
        <div ng-include="'partials/linkpages/workhistorypartial.html'"></div>
        <div ng-include="'partials/linkpages/certifications.html'"></div>
        <div ng-include="'partials/linkpages/contact.html'"></div>
    </div>
    <div class="slidingdoors">
        <div class="slidingdoor">
            <div ng-class="doorsOpen ? 'slideaction' : 'slide1'">
                <img src="images/left-half.png" style="margin: 65px 0 0 -168px;" alt="#" />
            </div>
        </div>
        <div class="slidingdoor-invert">
            <div ng-class="doorsOpen ? 'slideaction' : 'slide1'">
                <img src="images/right-half.png" style="    margin: 65px 0 0 -175px; transform: scale(-1, 1);" alt="#" />
            </div>
        </div>

    </div>
    <div class="view-wall-1">

    </div>
    <div class="view-wall-2">

    </div>
    <div class="view-wall-3">

    </div>
    <div class="view-wall-4">

    </div>
    <div class="wall-line-1-1">

    </div>
    <div class="wall-line-2-2">

    </div>
    <div class="wall-line-3-3">

    </div>
    <div class="wall-line-4-4">

    </div>
</div>
-->
