<div class="hide-scrollbar-parent ">
    <ul class="hide-scrollbar-child  col-lg-12">
        <li class="col-lg-1 hidden-md hidden-sm hidden-xs"></li>
        <li class="active nav-main-item col-lg-2 col-md-4 col-sm-4 col-xs-4 center-text">
            <div class="glow-1">
                <div class="nav-name col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="technologies-container" ng-click="activateDoors('technologies')"><a
                            class="nav-bar-item-main" href="#">Technologies</a></div>
                    <div class=" mirror-container hidden-md hidden-sm hidden-xs">{{defaults.navbar[0]}}</div>
                </div>
                <div class="nav-diamond col-lg-6 hidden-md hidden-sm hidden-xs">
                    <div class="small-diamond-container" ng-include="'partials/smalldiamond/smalldiamond.html'"></div>
                    <div class="small-diamond-container-mirror"
                          ng-include="'partials/smalldiamond/smalldiamondmirror.html'"></div>

                </div>
            </div>
        </li>
        <li class="active nav-main-item col-lg-2 col-md-4 col-sm-4 col-xs-4 center-text">
            <div class="glow-1">
                <div class="nav-name col-lg-6  col-md-12 col-sm-12 col-xs-12">
                    <div class="education-container" ng-click="activateDoors('education')"><a class="nav-bar-item-main"
                                                                                               href="#">Education</a></div>
                    <div class=" mirror-container hidden-md hidden-sm hidden-xs">{{defaults.navbar[1]}}</div>

                </div>
                <div class="nav-diamond col-lg-6 hidden-md hidden-sm hidden-xs ">
                    <div class="small-diamond-container" ng-include="'partials/smalldiamond/smalldiamond.html'"></div>
                    <div class="small-diamond-container-mirror"
                          ng-include="'partials/smalldiamond/smalldiamondmirror.html'"></div>

                </div>
            </div>
        </li>
        <li class="active nav-main-item col-lg-2 col-md-4 col-sm-4 col-xs-4 center-text">
            <div class="glow-1">
                <div class="nav-name col-lg-6  col-md-12 col-sm-12 col-xs-12">
                    <div class="work-history-container" ng-click="activateDoors('work history')"><a
                            class="nav-bar-item-main" href="#">Work History</a></div>
                    <div class=" mirror-container hidden-md hidden-sm hidden-xs">{{defaults.navbar[2]}}</div>

                </div>
                <div class="nav-diamond col-lg-6 hidden-md hidden-sm hidden-xs">
                    <div class="small-diamond-container" ng-include="'partials/smalldiamond/smalldiamond.html'"></div>
                    <div class="small-diamond-container-mirror"
                          ng-include="'partials/smalldiamond/smalldiamondmirror.html'"></div>

                </div>
            </div>

        </li>
        <li class="active nav-main-item col-lg-2 col-md-6 col-sm-6 col-xs-6 center-text">
            <div class="glow-1">
                <div class="nav-name col-lg-6  col-md-12 col-sm-12 col-xs-12">
                    <div class="certifications-container" ng-click="activateDoors('certifications')"><a
                            class="nav-bar-item-main" href="#">Certifications</a></div>
                    <div class="mirror-container hidden-md hidden-sm hidden-xs">{{defaults.navbar[3]}}</div>

                </div>
                <div class="nav-diamond  col-lg-6 hidden-md hidden-sm hidden-xs">
                    <div class="small-diamond-container" ng-include="'partials/smalldiamond/smalldiamond.html'"></div>
                    <div class="small-diamond-container-mirror"
                          ng-include="'partials/smalldiamond/smalldiamondmirror.html'"></div>

                </div>

            </div>
        </li>
        <li class="active nav-main-item col-lg-2 col-md-6 col-sm-6 col-xs-6 center-text">
            <div class="glow-1">
                <div class="nav-name  col-lg-6  col-md-12 col-sm-12 col-xs-12">
                    <div class="my-information-container" ng-click="activateDoors('contact')"><a
                            class="nav-bar-item-main" href="#">Contact & Hobbies</a></div>
                    <div class="mirror-container hidden-md hidden-sm hidden-xs">{{defaults.navbar[4]}}</div>

                </div>
                <div class="nav-diamond col-lg-6 hidden-md hidden-sm hidden-xs">
                    <div class="small-diamond-container" ng-include="'partials/smalldiamond/smalldiamond.html'"></div>
                    <div class="small-diamond-container-mirror"
                         ng-include="'partials/smalldiamond/smalldiamondmirror.html'"></div>

                </div>

            </div>
        </li>
        <li class="col-lg-1 hidden-md hidden-sm hidden-xs"></li>
    </ul>

</div>


