<div class="resume-page">
    <div ng-show="doorsOpen == 'contact'">
        <br /><br />
        <h1>Contact Information & Hobbies</h1><br />
        <div class="row" style="padding-bottom: 10px;">
            <div class="col-lg-4">
                <h5><b>Contact Information:</b></h5>
            </div>
            <div class="col-lg-8">
                <div class="information-layout">

                    <div class="col-lg-10">

                        <b>Address:</b> 1557 Brandywine Dr. <br />
                        <b>City/State:</b> Tavares,FL.<br />
                        <b>Zip Code:</b> 32778 <br />
                        <b>Phone:</b> Mobile (352)551-5921<br />
                        <b>E-Mail:</b> <a href="mailto:goodsonwebdesign@gmail.com?Subject=Hello" target="_top">Click here.</a>

                    </div>
                    <div class="col-lg-2">


                    </div>
                </div>
            </div>
        </div><br />
        <div class="row" style="padding-bottom: 10px;">
            <div class="col-lg-4">
                <h5><b>About Me:</b></h5>
            </div>
            <div class="col-lg-8">
                <div class="information-layout">

                    <div class="col-lg-10">

                        <b>  I take pride in the work I produce, for me web developement is more than a career it is a passion of mine. Developement and design have filled a gap in my life. I am an artist at heart and this field gives me the chance most other fields do not. Due to a low vision handicap I have been excluded from so many fields of work. Developement and design have given me what other career paths couldn't and that is choice. In this field there are no visual limitations.</b>

                    </div>
                    <div class="col-lg-2">


                    </div>
                </div>
            </div>
        </div><br />
        <div class="row" style="padding-bottom: 10px;">
            <div class="col-lg-4">
                <h5><b>Top three important things in my life:</b></h5>
            </div>
            <div class="col-lg-8">
                <div class="information-layout">

                    <div class="col-lg-10">
                        <p><b>God: First and foremost in my life. I make no apologies for my faith and I walk boldly in it.</b></p>
                        <p><b>Family: Second only to God. I cherish my family. They come before all else in the world. Without family you have nothing.</b></p>
                        <p><b>Legacy: Some may laugh at this, however it is because they do not understand it. I do not measure my life worth by how much I gather for myself in my lifetime, but rather how much I leave for the next generations.</b></p>
                    </div>
                    <div class="col-lg-2">


                    </div>
                </div>
            </div>
        </div><br />
        <div class="row" style="padding-bottom: 10px;">
            <div class="col-lg-4">
                <h5><b>A few things I enjoy:</b></h5>
            </div>
            <div class="col-lg-8">
                <div class="information-layout">

                    <div class="col-lg-10">
                        <b>My Church</b>              <br />
                        <b>Woodworking</b>            <br />
                        <b>Painting and Sketching</b> <br />
                        <b>Fishing and Hunting</b>    <br />
                        <b>Family Vactions</b>        <br />
                        <b>Helping Others</b>         <br />
                        
                    </div>
                    <div class="col-lg-2">


                    </div>
                </div>
            </div>
        </div><br />
        <div class="row" style="padding-bottom: 10px;">
            <div class="col-lg-4">
                <h5><b>What I am looking for in an employer:</b></h5>
            </div>
            <div class="col-lg-8">
                <div class="information-layout">

                    <div class="col-lg-10">
                        <b>Competitive Pay</b>            <br />
                        <b>Friendly Work Enviroment</b> <br />
                        <b>Teamwork</b>    <br />
                        <b>Enthusiastic Management</b>        <br />
                        <b>Job Security</b>         <br />
                        <b>Creative Enviroment</b>              <br />
                    </div>
                    <div class="col-lg-2">


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>