<div class="resume-page">
    <div ng-show="doorsOpen == 'education'"><br />
        <h1>Education History</h1>
        <div class="row" style="padding-bottom: 10px;">
            <div class="col-lg-4">
                <div class="photo-clip">
                    <img src="images/uop.png" style="width:125px; height:125px; margin-left:40px;" />
                </div>
            </div>
            <div class="col-lg-8">
                <div class="information-layout">
                    <h4><b>University of Phoenix</b></h4>
                    <div class="col-lg-6">

                        <b>Attended:</b> 2014-current
                        <b>Location:</b> Phoenix,AZ
                        <b>Degree:</b> Associates <br />
                        <b>GPA:</b> 3.3

                    </div>
                    <div class="col-lg-6">
                        <b>Graduated:</b> Enrolled <br />
                        <b>Study:</b> Web Developement/Design/IS Security 

                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 10px;">
            <div class="col-lg-4">
                <div class="photo-clip">
                    <img src="images/laketech.png" style="width:125px; height:125px; margin-left:40px;" />
                </div>
            </div>
            <div class="col-lg-8">
                <div class="information-layout">
                    <h4><b>Lake Technical Center</b></h4>
                    <div class="col-lg-6">

                        <b>Attended:</b> 2012-2013
                        <b>Location:</b> Eustis,FL
                        <b>Degree:</b> Certificate <br />
                        <b>GPA:</b> 3.8

                    </div>
                    <div class="col-lg-6">
                        <b>Graduated:</b> Yes <br />
                        <b>Study:</b> Collision Repair/Custom Paint

                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 10px;">
            <div class="col-lg-4">
                <div class="photo-clip">
                    <img src="images/mdhs.png" style="width:125px; height:125px; margin-left:40px;" />
                </div>
            </div>
            <div class="col-lg-8">
                <div class="information-layout">
                    <h4><b>Mount Dora High School</b></h4>
                    <div class="col-lg-6">

                        <b>Attended:</b> 2004-2005
                        <b>Location:</b> Mount Dora,FL
                        <b>Degree:</b> Diploma <br />
                        <b>GPA:</b> 3.4

                    </div>
                    <div class="col-lg-6">
                        <b>Graduated:</b> Yes <br />
                        <b>Study:</b> General

                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 10px;">
            <div class="col-lg-4">
                <div class="photo-clip">
                    <img src="images/download.png" style="width:125px; height:125px; margin-left:40px;" />
                </div>
            </div>
            <div class="col-lg-8">
                <div class="information-layout">
                    <h4><b>Troup County High School</b></h4>
                    <div class="col-lg-6">
                        <b>Attended:</b> 2001-2004
                        <b>Location:</b> LaGrange,GA
                        <b>Degree:</b>   None <br />
                        <b>GPA:</b> 3.2
                    </div>
                    <div class="col-lg-6">
                        <b>Graduated:</b> No <br />
                        <b>Study:</b> General
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>