<div class="resume-page-1">
    <div ng-show="switches.doors == 'technologies'"><br />
        <h1>Technologies</h1>
        <div class="row" style="padding-bottom: 10px;">
            <div class="col-lg-4">
                <div class="photo-clip">
                    <img src="images/html5.png" style="width:125px; height:125px; margin-left:40px;" />
                </div>
            </div>
            <div class="col-lg-8">
                <div class="information-layout">
                    <h4><b>HTML/HTML 5</b></h4>
                    <div class="col-lg-6">

                        <b>Proficiency:</b> Intermediate
                        <b>Experience:</b> 4 years
                        <b>Knowledge:</b> Intermediate <br />
                        <b>Speed:</b> Moderate

                    </div>
                    <div class="col-lg-6">


                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 10px;">
            <div class="col-lg-4">
                <div class="photo-clip">
                    <img src="images/css3.png" style="width:125px; height:125px; margin-left:40px;" />
                </div>
            </div>
            <div class="col-lg-8">
                <div class="information-layout">
                    <h4><b>CSS/CSS 3</b></h4>
                    <div class="col-lg-6">

                        <b>Proficiency:</b> Intermediate
                        <b>Experience:</b> 4 years
                        <b>Knowledge:</b> Intermediate <br />
                        <b>Speed:</b> Moderate

                    </div>
                    <div class="col-lg-6">


                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 10px;">
            <div class="col-lg-4">
                <div class="photo-clip">
                    <img src="images/js.png" style="width:125px; height:125px; margin-left:40px;" />
                </div>
            </div>
            <div class="col-lg-8">
                <div class="information-layout">
                    <h4><b>Javascript</b></h4>
                    <div class="col-lg-6">

                        <b>Proficiency:</b> Beginner
                        <b>Experience:</b> 1 year
                        <b>Knowledge:</b> Beginner <br />
                        <b>Speed:</b> Moderate

                    </div>
                    <div class="col-lg-6">


                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 10px;">
            <div class="col-lg-4">
                <div class="photo-clip">
                    <img src="images/angular.png" style="width:125px; height:125px; margin-left:40px;" />
                </div>
            </div>
            <div class="col-lg-8">
                <div class="information-layout">
                    <h4><b>Angular JS</b></h4>
                    <div class="col-lg-6">

                        <b>Proficiency:</b> Intermediate
                        <b>Experience:</b> 1 years
                        <b>Knowledge:</b> Intermediate <br />
                        <b>Speed:</b> Moderate

                    </div>
                    <div class="col-lg-6">


                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 10px;">
            <div class="col-lg-4">
                <div class="photo-clip">
                    <img src="images/bower.png" style="width:125px; height:125px; margin-left:40px;" />
                </div>
            </div>
            <div class="col-lg-8">
                <div class="information-layout">
                    <h4><b>Bower</b></h4>
                    <div class="col-lg-6">
                        <span class="information-label">Proficiency:</span> <span class="information-value">Intermediate</span>
                        <span class="information-label">Experience:</span>  <span class="information-value">2 years</span>2 years
                        <span class="information-label">Knowledge:</span>  <span class="information-value">Intermediate</span> <br />
                        <span class="information-label">Speed:</span>  <span class="information-value">Moderate</span>

                    </div>
                    <div class="col-lg-6">


                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 10px;">
            <div class="col-lg-4">
                <div class="photo-clip">
                    <img src="images/bootstrap.png" style="width:125px; height:125px; margin-left:40px;" />
                </div>
            </div>
            <div class="col-lg-8">
                <div class="information-layout">
                    <h4><b>Bootstrap</b></h4>
                    <div class="col-lg-6">

                        <b>Proficiency:</b> Intermediate
                        <b>Experience:</b> 2 years
                        <b>Knowledge:</b> Intermediate <br />
                        <b>Speed:</b> Moderate

                    </div>
                    <div class="col-lg-6">


                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 10px;">
            <div class="col-lg-4">
                <div class="photo-clip">
                    <img src="images/ps.png" style="width:125px; height:125px; margin-left:40px;" />
                </div>
            </div>
            <div class="col-lg-8">
                <div class="information-layout">
                    <h4><b>Photoshop</b></h4>
                    <div class="col-lg-6">

                        <b>Proficiency:</b> Intermediate
                        <b>Experience:</b> 3 years
                        <b>Knowledge:</b> Intermediate <br />
                        <b>Speed:</b> Moderate

                    </div>
                    <div class="col-lg-6">


                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 10px;">
            <div class="col-lg-4">
                <div class="photo-clip">
                    <img src="images/vs.png" style="width:125px; height:125px; margin-left:40px;" />
                </div>
            </div>
            <div class="col-lg-8">
                <div class="information-layout">
                    <h4><b>Visual Studio</b></h4>
                    <div class="col-lg-6">

                        <b>Proficiency:</b> Intermediate
                        <b>Experience:</b> 4 years
                        <b>Knowledge:</b> Intermediate <br />
                        <b>Speed:</b> Moderate

                    </div>
                    <div class="col-lg-6">


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>