<div class="resume-page">
    <div ng-show="switches.doors == 'work history'">
        <br />
        <h1>Work History</h1>
        <div class="row" style="padding-bottom: 10px;">
            <div class="col-lg-4">
                <div class="photo-clip">
                    <img src="images/selfemployed.png" style="width:125px; height:125px; margin-left:40px;" />
                </div>
            </div>
            <div class="col-lg-8">
                <div class="information-layout">
                    <h4><b>Non-Profit Freelance Developer/Designer</b></h4>
                    <div class="col-lg-6">

                        <b>Dates:</b> 2010-Present <br />
                        <b>Location:</b> Taveres,FL. <br />
                        <b>Compensation:</b> Experience <br />
                        <b>Phone:</b> (352)551-5921 <br />
                        <b>Superior:</b>Brandon Goodson<br />
                        <b>Title Held:</b>Owner

                    </div>
                    <div class="col-lg-6">
                        <b>Responsibilities:</b> I have done many website redesigns for various customers over the years. This started as a hobby with static web pages. It quickly grew into something more. I work more with responsive design these days though.<br />
                       

                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 10px;">
            <div class="col-lg-4">
                <div class="photo-clip">
                    <img src="images/publix.png" style="width:125px; height:125px; margin-left:40px;" />
                </div>
            </div>
            <div class="col-lg-8">
                <div class="information-layout">
                    <h4><b>Publix Supermarkets Inc.</b></h4>
                    <div class="col-lg-6">

                        <b>Dates:</b> 2013-Present <br />
                        <b>Location:</b> Leesburg,FL. <br />
                        <b>Compensation:</b> $10.50/hr <br />
                        <b>Phone:</b> Do Not Contact. <br />
                        <b>Superior:</b>Corey Sweatnam
                        <b>Title Held:</b>Customer Service Staff/Pharmacy Tech

                    </div>
                    <div class="col-lg-6">
                        <b>Responsibilities:</b> My daily resposibilities are cashiering, bagging, coordinating front end activities, and customer service.<br />


                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 10px;">
            <div class="col-lg-4">
                <div class="photo-clip">
                    <img src="images/arby's.png" style="width:125px; height:125px; margin-left:40px;" />
                </div>
            </div>
            <div class="col-lg-8">
                <div class="information-layout">
                    <h4><b>Arby's Restaurant</b></h4>
                    <div class="col-lg-6">

                        <b>Dates:</b> 2012-2013 <br />
                        <b>Location:</b> Mount Dora,FL. <br />
                        <b>Compensation:</b> $9.00/hr <br />
                        <b>Phone:</b> Do Not Contact. <br />
                        <b>Superior:</b>Joye Pimm<br />
                        <b>Title Held:</b>Manager

                    </div>
                    <div class="col-lg-6">
                        <b>Responsibilities:</b>Daily responsisbilities were inventory, marketing, training, serving, cash handling, banking, customer service, and much more. Left for better compensation. <br />


                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 10px;">
            <div class="col-lg-4">
                <div class="photo-clip">
                    <img src="images/perkins.png" style="width:125px; height:125px; margin-left:40px;" />
                </div>
            </div>
            <div class="col-lg-8">
                <div class="information-layout">
                    <h4><b>Perkin's Restaurant</b></h4>
                    <div class="col-lg-6">

                        <b>Dates:</b> 2009-2012 <br />
                        <b>Location:</b> Mount Dora,FL. <br />
                        <b>Compensation:</b> $4.65/hr-$8.50/hr <br />
                        <b>Phone:</b> Do Not Contact. <br />
                        <b>Superior:</b>Darrell<br />
                        <b>Title Held:</b>Server/Busser

                    </div>
                    <div class="col-lg-6">
                        <b>Responsibilities:</b>What I did varied day to day depending on the needs of the restaurant. <br />


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>