@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

.switch-panel {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#959595+0,959595+5,4e4e4e+8,4e4e4e+10,0d0d0d+22,4e4e4e+25,0d0d0d+28,0d0d0d+32,4e4e4e+35,959595+40,0d0d0d+46,010101+50,0a0a0a+54,4e4e4e+59,383838+62,0a0a0a+69,383838+73,4e4e4e+76,959595+81,383838+85,383838+87,383838+89,4e4e4e+92,0d0d0d+94,383838+97,1b1b1b+100 */
    background: rgb(149,149,149); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(149,149,149,1) 0%, rgba(149,149,149,1) 5%, rgba(78,78,78,1) 8%, rgba(78,78,78,1) 10%, rgba(13,13,13,1) 22%, rgba(78,78,78,1) 25%, rgba(13,13,13,1) 28%, rgba(13,13,13,1) 32%, rgba(78,78,78,1) 35%, rgba(149,149,149,1) 40%, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 54%, rgba(78,78,78,1) 59%, rgba(56,56,56,1) 62%, rgba(10,10,10,1) 69%, rgba(56,56,56,1) 73%, rgba(78,78,78,1) 76%, rgba(149,149,149,1) 81%, rgba(56,56,56,1) 85%, rgba(56,56,56,1) 87%, rgba(56,56,56,1) 89%, rgba(78,78,78,1) 92%, rgba(13,13,13,1) 94%, rgba(56,56,56,1) 97%, rgba(27,27,27,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(149,149,149,1) 0%,rgba(149,149,149,1) 5%,rgba(78,78,78,1) 8%,rgba(78,78,78,1) 10%,rgba(13,13,13,1) 22%,rgba(78,78,78,1) 25%,rgba(13,13,13,1) 28%,rgba(13,13,13,1) 32%,rgba(78,78,78,1) 35%,rgba(149,149,149,1) 40%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 54%,rgba(78,78,78,1) 59%,rgba(56,56,56,1) 62%,rgba(10,10,10,1) 69%,rgba(56,56,56,1) 73%,rgba(78,78,78,1) 76%,rgba(149,149,149,1) 81%,rgba(56,56,56,1) 85%,rgba(56,56,56,1) 87%,rgba(56,56,56,1) 89%,rgba(78,78,78,1) 92%,rgba(13,13,13,1) 94%,rgba(56,56,56,1) 97%,rgba(27,27,27,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(149,149,149,1) 0%,rgba(149,149,149,1) 5%,rgba(78,78,78,1) 8%,rgba(78,78,78,1) 10%,rgba(13,13,13,1) 22%,rgba(78,78,78,1) 25%,rgba(13,13,13,1) 28%,rgba(13,13,13,1) 32%,rgba(78,78,78,1) 35%,rgba(149,149,149,1) 40%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 54%,rgba(78,78,78,1) 59%,rgba(56,56,56,1) 62%,rgba(10,10,10,1) 69%,rgba(56,56,56,1) 73%,rgba(78,78,78,1) 76%,rgba(149,149,149,1) 81%,rgba(56,56,56,1) 85%,rgba(56,56,56,1) 87%,rgba(56,56,56,1) 89%,rgba(78,78,78,1) 92%,rgba(13,13,13,1) 94%,rgba(56,56,56,1) 97%,rgba(27,27,27,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height: 100px;
    position: relative;
    z-index: 0;
}

.switch-container {
    margin-top: 15px;
}

* {
    box-sizing: border-box;
}

.switch {
    display: block;
    position: relative;
    width: 22px;
    height: 38px;
    border-radius: 50px;
    background: black;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 7px 0 #fdfdfd, 0 2px 3px rgba(170, 160, 140, 0.3);
    cursor: pointer;
}

    .switch:before {
        content: "";
        position: absolute;
        top: -10px;
        bottom: -10px;
        left: -5px;
        right: -5px;
        z-index: -1;
        background: black;
        border-radius: inherit;
        box-shadow: 0 1px 1px rgba(174, 163, 145, 0.2), 0 3px 3px rgba(170, 160, 140, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.8), 0 0 5px rgba(170, 160, 140, 0.5);
    }

    .switch:after {
        content: "";
        position: absolute;
        width: 30px;
        height: 35px;
        border-radius: 50%;
        z-index: -1;
        -webkit-filter: blur(1px);
    }

.fixture1 {
    z-index: 1;
    position: relative;
    left: 95px;
    margin: -40px 0 0 0;
}

.fixture2 {
    z-index: 1;
    position: relative;
    left: 25px;
    margin: -30px 0 0 0;
}

.switch-on {
    background: black;
    box-shadow: inset 0 -5px 0 #dbd3c8, 0 2px 6px rgba(170, 160, 140, 0.75), 3px 0px 1px rgba(170, 160, 140, 0.3);
    border-bottom: none;
}

.lamps-on {
    box-shadow: 0px 6px 7px white;
}

.cast-shadow {
    box-shadow: inset 1px -4px 10px 0px black, 0px 15px 33px 3px black, inset 1px 4px 6px 0px white;
}

.bulb {
    width: 200px;
    height: 4px;
    border-radius: 0px 0px 10px 10px;
    position: relative;
    top: 20px;
    z-index: 0;
    background-color: white;
}

.bulb-2 {
    width: 50px;
    height: 25px;
    position: relative;
    z-index: 0;
    left: 99px;
    top: 40px;
    background: white;
    border-radius: 60px / 30px;
}

.switch-panel-control {
    background-color: darkslategrey;
    padding: 5px;
}
